@import './_variables.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import './_overrides.scss';
@import './custom.scss';
@import './loaders.scss';
@import url('http://fonts.cdnfonts.com/css/modern-typewriter');

* {
  font-family: 'MODERN TYPEWRITER', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // background-color: $body-bg;
  background-image: url(https://media.cntraveler.com/photos/59d690455d63061cb02575bf/master/w_4000,h_3000,c_limit/Hoia-Baciu-GRNWYM.jpg);
  background-size: cover;
  background-position: center;
}



main {
  flex-grow: 1;
}

.active-cryptid {
  max-height: 20rem;
}

.polaroid {
  filter: sepia(50%);
  max-height: 10rem;
  object-fit: cover;
}

.polaroid:hover {
  filter: sepia(0%);
  transition: all 0.3s ease-in-out;
}

.activePolaroid {
  filter: sepia(50%);
}

.activePolaroid:hover {
  filter: sepia(0%);
  transition: all 0.3s ease-in-out;
}

.cardcomment:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-out;
}

.postCard:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-out;
}

.verybigmodal {
  max-width: 90%;
}

.scrollable-y {
  max-height: 80vh;
  overflow: auto;
}

.headerbg {
  background-image: url(https://thumbs.dreamstime.com/z/grungy-abstraction-4956389.jpg);
}

.sticky-btn {
  position: fixed;
  bottom: 30px;
  right: 15px;
}

.sticky-down {
  position: fixed;
  bottom: 115px;
  right: 33px;

}

.sticky-up {
  position: fixed;
  right: 33px;
  bottom: 166px;

}

.rotated {
  transform: rotate(3deg);

}

.commentbg {
  background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fimg.freepik.com%2Fpremium-photo%2Fnatural-recycled-paper-texture-background_118047-8916.jpg%3Fw%3D2000);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.scrollme {
  max-height: 85vh;
  overflow: auto;

}

.description {
  max-height: 20vh;
  overflow: auto;

}

@media screen and (max-width: 800px){
  html{
  overflow-x:auto !important;
  }
  body{
  overflow-x:auto !important;
  }
}